<%- include('partials/header') %>
<section class="section center">
  <h1 style="font-size:6rem">404</h1>
  <p>This road leads nowhere 🛣️</p>
  <a href="/" class="btn btn-primary">Back to Home</a>
</section>
<%- include('partials/footer') %>
